<footer></footer>
    <div class="f-info">
        <div class="f-info-socials">
          <a href="https://www.linkedin.com/in/vishal-kumar-4b0641277/"><i class="fa-brands fa-linkedin"></i></a>
           <a href="https://x.com/VishalKuma59352"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="f-info-brand"> &copy; VHR Private Limited</div>
        <div class="f-info-links">
            <a href="https://policies.google.com/privacy?hl=en-US">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>