<% layout("/layouts/boilerplate") %>
<body>
    <!-- <h3>All Listings</h3> -->
    <!-- <form method="GET" action="/listings/new">
      <button>Create New Listing</button>
    </form> -->
    <style>body{
      background-color: rgb(210, 215, 218);
    }</style>
    <style>
      #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 1.5rem;
        opacity: 0.8;
      }
      .filter:hover{
        cursor: pointer;
        opacity: 1.5;
      }
      .filter p{
        font-size: 1rem;
      }
      .tax-info{
        display: none;
      }
      .tax-toggle{
        border: 1px solid blue;
        margin-left: 5rem;
        border-radius: 1rem;
        height: 4rem;
        display: flex;
        align-items: center;
        width: 20%;
        background-color: skyblue;
      }
      .form-check-label{
        padding-left: 25px;
        font-size: 1rem;
      }

@media screen and (max-width:1100px){
  .mediaquies{
  display: none;
  }
}

    </style>
    <div class="mediaquies">
<div id="filters">
  <div class="filter">
    <div><i class="fa-solid fa-house"></i></i></div>
    <p>Home</p>
  </div>
  <div id="filters"></div>
  <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Tranding</p>
  </div>
  <div id="filters"></div>
  <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Room</p>
  </div>
  <div id="filters"></div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Mountain city</p>
  </div>
  <div id="filters"></div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountains</p>
  </div>
  <div id="filters"></div>
  <div class="filter">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </div>
  <div id="filters"></div>
  <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing Pools</p>
  </div>
  <div id="filters"></div>
  <div class="filter">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
  </div>
  <div id="filters"></div>
  <div class="filter">
    <div><i class="fa-solid fa-snowflake"></i></div>
    <p>Snowflake</p>
  </div>
  <div id="filters"></div>
  <div class="filter">
    <div><i class="fa-solid fa-square-parking"></i></div>
    <p> Parks</p>
  </div>
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxis</label>
    </div>
  </div>
</div>
</div>
   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3 ">
    <% for(let listing of allListings) { %>
      <a href="/listings/<%= listing._id %>" class="listings-link">
      <div class="card col listing-card">
        <img class="card-img-top" src="<%= listing.image.url %>" alt="Card image cap" style="height:20rem"/>
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
           <b><%= listing.title %></b><br>
            $<%= listing.price.toLocaleString("en-IN") %> / night
          <i class="tax-info"> &nbsp;+15% GST</i></p>
        </div>
      </div>
      <% } %>
      </a>
   </div>

   <script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click",()=>{
      let taxInfo = document.getElementsByClassName("tax-info");
      for(info of taxInfo){
        if(info.style.display !=="inline"){
          info.style.display ="inline";
          info.style.color ="red";
        }else{
          info.style.display ="none";
        }
      }
    });
   </script>
  </body>
