body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white !important;
}
.fa-space-awesome{
    color: yellow;
    font-size: 2rem;
}
.nav-link1{
    color: #222222 !important;
    border-radius: 5px !important;
    text-decoration: none !important;
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    background-color: rgb(162, 221, 210);
}
.nav-link1:hover{
    background-color: #94b5d5;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-links{
    padding-right: 10px;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-socials a{
    color: rgb(53, 50, 50)
}
.f-info-socials i:hover{
    font-size: 1.4rem;
    color: red;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: lightcyan;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    background-color: rgb(210, 215, 218) !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p {
    font-weight: 400;
}
.listings-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.3;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
#map{
    height: 400px;
    width: 80vh;
}
